PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/dwellcore?retryWrites=true&w=majority
SESSION_SECRET=your_super_secret_session_key_here_change_this
ADMIN_SECRET=dwellcore_admin_2024
NODE_ENV=development
